<html>
    <head>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body style="background-color: #000; color:#fff;">

      <form class="container" action="create" method="POST">
        Stock<input name='name' class='form-control'/>
        Value(R$)<input name='value' class="form-control"/>
        Buy date(d, m, y)<input name='buy date' class="form-control"/>
        <button class='btn btn-primary'>Save</button>
        
      </form>

      <table class="table table" style="color: #fff;">
        
        {% for task in tasks: %}
        <tr>
          <form action="/update" method="POST">
            <td>              
              Stock: <input name="name" value="{{task['name']}}"/>
              <input name="id" value="{{task['id']}}" class='d-none'/>
            </td>
            <td>
              Value(R$): <input name="value" value="{{task['value']}}"/>
            </td>
            <td>
              Buy date(d, m, y): <input name="buy_date" value="{{task['buy_date']}}"/>
            </td>
            <td>
              <a href="/delete/{{task['id']}}">Delete</a>
              <button class='btn btn-primary'>Update</button>
            </td>
          </form>
          
        </tr>
        {% endfor %}
      </table>  
    </body>
</html>
